- if current_user
  .page
    = link_to current_user, user_path(current_user)

    %br

    = link_to ("post of " + current_user.to_s), user_posts_path(current_user)


  -if current_user.admin?
    .page
      %table
        %tr
          %td Usuarios
          %td Posts
        - User.accessible_by(current_ability, :read).each do |user|
          %tr
            %td= link_to user, user
            %td= link_to "posts", user_posts_path(user)
- else
  = link_to "Sign in", new_session_path("user")
  = link_to "Sign up", new_registration_path("user")