.devise
  %h2 Sign in
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    %p
      = f.label :username
      %br
      = f.text_field :username
    %p
      = f.label :password
      %br
      = f.password_field :password
    %div
      = f.submit "Sign in"
      - if devise_mapping.rememberable?
        %%span
          = f.check_box :remember_me
          = f.label :remember_me

  = render "devise/shared/links"
