.post.clearfix
  .toolbox
    -if can? :update, post
      %span= link_to (image_tag 'pencil.png'), edit_post_path(post)

    -if can? :destroy, post
      %span= link_to (image_tag 'cross.png'), post, method: :delete, data: { confirm: 'Are you sure?' }

  = gravatar_for post.user, size: 50
  %a{href: (post_path post)}= truncate((strip_tags mkd.render post.text), :length => 60, :separator => ' ')
  %br
  (created: #{post.created_at.to_formatted_s(:short)})
  - unless post.created_at.to_formatted_s(:short) == post.updated_at.to_formatted_s(:short)
    (updated: #{post.updated_at.to_formatted_s(:short)})
  - if post.attachment.present?
    %br
    %span.attach
      = link_to (image_tag "paper-clip.png") + " " + post.attachment_file_name, post.attachment.url
  %ul.tags
    - post.tags.each do |tag|
      - unless current_tab == tag.tag
        %li.tag
          =link_to tag.tag, tag
