#nav_bar
  = tabs_tag open_tabs: {class: "tags"} do |tab|
    - if (params[:controller] == "users")
      = tab.all 'all', @users, class: "tag"
    - elsif (!params[:user_id].nil?)
      = tab.all @user, user_path(@user), class: "tag"
    - else 
      = tab.all 'all', root_path, class: "tag"
    - Tag.accessible_by(current_ability, :read).uniq.each do |tag|
      - if (params[:controller] == "users")
        =# tab.send tag.tag, tag.tag.humanize, user_tag_path(@user, tag), class: "tag"
      - elsif (!params[:user_id].nil?)
        =# tab.send tag.tag, tag.tag.humanize, user_tag_path(params[:user_id], tag), class: "tag"
      - else 
        = tab.send tag.tag, tag.tag.humanize, tag_path(tag), class: "tag"


.posts
  = (render collection) || "<div class='post empty'><div class='empty'>No files here</div></div>".html_safe

%br
-if can? :create, Post
  %form{action: new_post_path}
    .toolbox
      %button.btn New Post

.toolbox
  &nbsp;

-if can? :manage, :tags
  %form{action: tags_path}
    .toolbox
      %button.btn Manage tags
