#nav_bar
  = tabs_tag open_tabs: {class: "tags"} do |tab|
    - unless (params[:user_id].nil?)
      = tab.all "All of #{@user}".humanize, all_user_posts_path(@user), class: "tag"
    - else 
      = tab.all 'All', root_path, class: "tag"

    - Tag.accessible_by(current_ability, :read).uniq.each do |tag|
      - unless (params[:user_id].nil?)
        = tab.send tag.tag, tag.tag.humanize, tag_user_posts_path(params[:user_id], tag), class: "tag"
      - else 
        = tab.send tag.tag, tag.tag.humanize, tag_path(tag), class: "tag"


.posts
  = (render collection) || "<div class='post empty'><div class='empty'>No files here</div></div>".html_safe

%br
-if can? :create, Post
  %form{action: new_user_post_path(current_user)}
    .toolbox
      %button.btn New Post

-if can? :manage, Tag
  %form{action: tags_path}
    .toolbox
      &nbsp;
    .toolbox
      %button.btn Manage tags

-if can? :manage, User
  %form{action: all_users_path}
    .toolbox
      &nbsp;
    .toolbox
      %button.btn Manage users