%tr.post
  /%td= post.text
  %td
    = gravatar_for post.user, size: 50
    %a{href: (post_path post)}= truncate((strip_tags mkd.render post.text), :length => 60, :separator => ' ')
    %br
    (created: #{post.created_at.to_formatted_s(:short)})
    - unless post.created_at.to_formatted_s(:short) == post.updated_at.to_formatted_s(:short)
      (updated: #{post.updated_at.to_formatted_s(:short)})
    - if post.attachment.present?
      %br
      [ Attachment:
      = link_to (image_tag "attachment.gif") + post.attachment_file_name, post.attachment.url
      ]
    %ul.tags
      - post.tags.each do |tag|
        - unless current_tab == tag.tag
          %li.tag
            =link_to tag.tag, tag



  -if can? :update, post
    %td= link_to 'Edit', edit_post_path(post)

  -if can? :destroy, post
    %td= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }
