-if can? :edit, @post
  .toolbox
    = link_to (image_tag 'pencil.png'), edit_post_path(@post)
#post.post
  = raw sanitize mkd.render @post.text

  -# @post.attachment_content_type

  - if @post.attachment.present?
    .data
      %b
        Type:
      = @post.attachment_content_type
    .data
      %b
        Size:
      = number_to_human_size(@post.attachment_file_size)
    .data
      %b
        Upadated at:
      = @post.attachment_updated_at.to_formatted_s(:short)
    = link_to 'Download: ' + @post.attachment_file_name, @post.attachment.url, class: 'btn'

  %ul.tags
    - @post.tags.each do |tag|
      %li.tag
        #{tag.tag}

\#{link_to 'Back', posts_path}