!!!
%html
  %head
    %title Moose
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #header
      #logo
        = link_to (image_tag "logo.png"), root_path
      #user_nav
        - if user_signed_in?
          = gravatar_for current_user, size:25
          = image_tag "//graph.facebook.com/#{current_user.uid}/picture?type=square", width:25, height:25, style: "margin-top:-1ex"
          Signed in as <em>#{current_user.username}</em>. Not you?

          = link_to "Sign out", destroy_user_session_path, :method => :delete
        - else
          = link_to "Sign up", new_user_registration_path, class: "sign"
          or
          = link_to "sign in", new_user_session_path, class: "sign"

          = link_to (image_tag "facebook_32.png"), user_omniauth_authorize_path(:facebook)
          \ 
          = link_to (image_tag "github_32.png"), user_omniauth_authorize_path(:github)
          \ 
          = link_to (image_tag "google_32.png"), user_omniauth_authorize_path(:google_oauth2)
    .clearfix
      %p.notice= notice
      %p.alert= alert

      = yield
