!!! 5
%html{:lang => 'en'}
  %head
    %meta{:charset => 'utf-8'}
    - #%meta{:name => 'pdfkit-footer_html', :content => pdf_footer_url}
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag "#{request.protocol}#{request.host_with_port}/stylesheets/pdf.css"
  %body
    = yield(:layout)

